<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Fody" version="3.2.4" targetFramework="net461" developmentDependency="true" />
  <package id="morelinq" version="3.0.0" targetFramework="net461" />
  <package id="NLog" version="3.2.1" targetFramework="net461" />
  <package id="NLog.Config" version="3.2.1" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.0-beta07" targetFramework="net461" />
  <package id="NlogViewer" version="0.6.0.0" targetFramework="net461" />
  <package id="Npgsql" version="3.2.7" targetFramework="net461" />
  <package id="Quartz" version="3.0.6" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>